@model WebBimba.Models.Category.CategoryCreateViewModel

<h1 class="text-center">Додати нову категорію</h1>

<div class="container">
    <div class="row">
        <form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Name">
            </div>

            <div class="mb-3">
                <label asp-for="Photo" class="form-label"></label>
                <input class="form-control" type="file" asp-for="Photo">
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea class="form-control"  rows="3" asp-for="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Додати</button>
        </form>
    </div>
</div>